# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. Assign any number of type integer to the variable "num_1"

In [1]:
num_1 = 23

In [2]:
num_1

23

#### 2. Assign any number of type float to the variable "num_2"

In [3]:
num_2 = 4.50

In [4]:
num_2

4.5

#### 3. Create the variable "total" as the sum of variables "num_1" and "num_2"

In [7]:
total = num_1 + num_2

In [8]:
total

27.5

#### 4. Check the type of the variable "total"

In [9]:
type(total)

float

#### 5. Assign your height to the variable "height"

In [22]:
height = 68

In [23]:
height

68

#### 6. Assign your weight to the variable "mass"

In [24]:
weight = 200

In [25]:
weight

200

#### 7. Create the variable "bmi" :
hint: bmi = weight / (height*height)

In [26]:
bmi = weight / (height*height)

In [27]:
bmi

0.04325259515570934

#### 8. Print the value of the "bmi" variable

In [28]:
print(bmi)

0.04325259515570934

# String

#### 1. Create the variable "name" with your first name

In [29]:
name = 'Christian'

In [30]:
name

'Christian'

#### 2. Create the variable "surname" with your surname

In [31]:
surname = 'Cusson'

#### 3. Create the variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [32]:
name_surname = name + ' ' + surname

#### 4. Print the variable "name_surname"

In [33]:
print(name_surname)

Christian Cusson

#### 5. Print the first letter of the variable "name_surname"

In [34]:
name_surname[0]

'C'

#### 6. Print your name (without any enmpty space) from the variable "name_surname"

In [35]:
name_surname.replace(' ', '')

'ChristianCusson'

#### 7. Print your surname 10x (use variable "surname")

In [36]:
surname*10

'CussonCussonCussonCussonCussonCussonCussonCussonCussonCusson'

#### 8. Create the variable "greeting" with the message "Hello my name is " + your name and surname (use "name_surname" variable)

In [40]:
greeting = 'Helly my name is ' + name_surname

#### 9. Print the "message" variable

In [41]:
print(greeting)

Helly my name is Christian Cusson

## List

#### 1. Create an empty list named "empty_list"

In [42]:
empty_list = []

#### 2. Create a list called "heights" with five random values

In [43]:
heights = [200, 215, 180]

#### 3. Print "heights"

In [44]:
heights

[200, 215, 180]

#### 4. Print the type of variable for "heights"

In [45]:
type(heights)

list

#### 5. Print the second value from "heights"

In [47]:
print(heights[1])

215

#### 6. Assign the last three values from "heights" to another list called "heights_2"

In [48]:
heights_2 = heights[1:]

#### 7. Print "heights_2"

In [49]:
heights_2

[215, 180]

In [50]:
heights

[200, 215, 180]

#### 8. Create the variable "list_all" with values from lists "heights" and "heights_2"

In [51]:
list_all = heights + heights_2

#### 9. Print "list_all"

In [52]:
list_all

[200, 215, 180, 215, 180]

#### 10. Print the type of "list_all"

In [53]:
type(list_all)

list

## Tuple

#### 1. Create an empty tuple called "empty_tuple"

In [54]:
empty_tuple = ()

#### 2. Try to assign your name to the first position of "empty_tuple" and check the type of error that occurs

In [55]:
empty_tuple[0] = name_surname

TypeError: 'tuple' object does not support item assignment

#### 3. Based on the error that occured in the above question, what is the main difference between a list and a tuple?

In [ ]:
Tuples cannot be edited or modified

## Dictionary

#### 1. Create an empty dictionary named "empty_dict"

In [56]:
empty_dict = {}

#### 2. Create a dictionary called "heights_dict" with your name as a key and height as a value

In [60]:
heights_dict = {name:height}

In [61]:
heights_dict

{'Christian': 68}

#### 3. Assign another name and height to "heights_dict"

In [64]:
heights_dict['Roger'] = 260

#### 4. Print "heights_dict"

In [65]:
heights_dict

{'Christian': 68, 'Roger': 260}

#### 5. Print your height from the "heights_dict" dictionary

In [67]:
heights_dict['Christian']

68

#### 6. Print all values from the "heights_dict" dictionary

In [69]:
print(heights_dict.values())

dict_values([68, 260])

#### 7. Print all keys from the "heights_dict" dictionary

In [70]:
heights_dict.keys()

dict_keys(['Christian', 'Roger'])