In [1]:
import xml.etree.ElementTree as ET

In [3]:
tree = ET.parse('data.xml')

In [6]:
root = tree.getroot()
root

In [7]:
print(root.tag)
print(root.attrib)
print(len(root))

data
{}
3

In [8]:
country1 = root[0]

rank = country1[0]

print(rank.tag)

print(rank.text)

print(country1[4].attrib)

rank
1
{'name': 'Switzerland', 'direction': 'W'}

In [10]:
country3 = root[2]

rank3 = country3[0]

print(rank3.tag)
print(rank3.text)
print(country3[4].attrib)

rank
68
{'name': 'Colombia', 'direction': 'E'}

In [11]:
for neighbor in root.iter('neighbor'):
    print(neighbor.attrib)

{'name': 'Austria', 'direction': 'E'}
{'name': 'Switzerland', 'direction': 'W'}
{'name': 'Malaysia', 'direction': 'N'}
{'name': 'Costa Rica', 'direction': 'W'}
{'name': 'Colombia', 'direction': 'E'}

In [16]:
root.findall(".")
root.findall("./country/neighbor")
root.findall(".//year/..[@name='Singapore']")

In [17]:
root.findall(".//*[@name='Singapore']/year")

In [18]:
root.findall(".//neighbor[2]")

In [25]:
import pandas as pd
import xml.etree.ElementTree as ET

tree = ET.parse('data.xml')
root = tree.getroot()

In [28]:
my_dict = {
    'name':[],
    'rank':[],
    'year':[],
    'gdppc':[]}

for country in root:
    name_value = country.attrib['name']
    my_dict['name'].append(name_value)

    rank_value = country[0].text
    my_dict['rank'].append(rank_value)

    year_value = country[1].text
    my_dict['year'].append(year_value)

    gdppc_value = country[2].text
    my_dict['gdppc'].append(gdppc_value)

df = pd.DataFrame(my_dict)

df

            name rank  year   gdppc
0  Liechtenstein    1  2008  141100
1      Singapore    4  2011   59900
2         Panama   68  2011   13600