# XML exercise

Using data from [**mondial database**](https://drive.google.com/file/d/14lFT4nWHgwN36ij4XZh6OUuup-K9qLgR/view?usp=sharing) find the answers to following questions:

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [2]:
import pandas as pd
import xml.etree.ElementTree as ET

tree = ET.parse('mondial.xml')
root = tree.getroot()

In [7]:
# print tag and attrib

print(root.tag)
print(root.attrib)
print(len(root))

mondial
{}
3403

In [21]:
country = root[1]

print(country[18])

<Element 'infant_mortality' at 0x1179c0180>

In [29]:
# create a datafram

my_dict = []

for country in root.findall('country'):
    name = country.find('name').text
    infant_mortality = country.find('infant_mortality')
    
    if infant_mortality is not None and infant_mortality.text is not None:
            my_dict.append({
                'Country': name,
                'Infant Mortality Rate': float(infant_mortality.text)
            })

df = pd.DataFrame(my_dict)

In [31]:
df_sorted = df.sort_values('Infant Mortality Rate')

In [32]:
df_sorted

                      Country  Infant Mortality Rate
36                     Monaco                   1.81
90                      Japan                   2.13
109                   Bermuda                   2.48
34                     Norway                   2.48
98                  Singapore                   2.53
..                        ...                    ...
197  Central African Republic                  92.86
210                   Somalia                 100.14
173                      Mali                 104.34
48                Afghanistan                 117.23
178            Western Sahara                 145.82

[228 rows x 2 columns]

In [33]:
top_10_countries = df_sorted.head(10)

In [34]:
top_10_countries

            Country  Infant Mortality Rate
36           Monaco                   1.81
90            Japan                   2.13
109         Bermuda                   2.48
34           Norway                   2.48
98        Singapore                   2.53
35           Sweden                   2.60
8    Czech Republic                   2.63
6             Spain                   2.70
72        Hong Kong                   2.73
73            Macao                   3.13