In [4]:
import pandas as pd

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [6]:
titles = pd.read_csv('imdb_pandas/titles.csv')
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [7]:
cast = pd.read_csv('imdb_pandas/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### Using groupby(), count the number of films that have been released in each decade in the history of cinema.

In [17]:
titles['decade'] = (titles['year'] // 10) * 10

In [23]:
titles.groupby('decade').size()

decade
1890        3
1900       37
1910     6512
1920     8797
1930    10097
1940     8576
1950    12711
1960    17515
1970    18714
1980    20243
1990    22225
2000    38713
2010    67977
2020      210
dtype: int64

### Use groupby() count the number of "Hamlet" films made in each decade.

In [30]:
grouped_titles = titles.groupby('title')
hamlet_films = grouped_titles.get_group('Hamlet')

In [33]:
hamlet_films.value_counts('decade')

decade
1910    3
2010    3
1960    2
1970    2
1990    2
2000    2
1920    1
1940    1
1950    1
1980    1
Name: count, dtype: int64

### How many leading (n=1) roles were available to actors, and how many to actresses, in each year of the 1950s?

### In the 1950s taken as a whole, how many total roles were available to actors, and how many to actresses, for each "n" number 1 through 5?

### Use groupby() to determine how many roles are listed for each of the Pink Panther movies.

### List, in order by year, each of the films in which Frank Oz has played more than 1 role.

### List each of the characters that Frank Oz has portrayed at least twice.