In [3]:
import pandas as pd

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [4]:
titles = pd.read_csv('imdb_pandas/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [5]:
cast = pd.read_csv('imdb_pandas/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### What are the ten most common movie names of all time?

In [8]:
title_counts = titles['title'].value_counts()
title_counts.head(10)

title
Hamlet                  18
Carmen                  16
Macbeth                 15
The Outsider            12
Maya                    12
Temptation              11
Othello                 11
The Three Musketeers    11
Freedom                 11
Kismet                  11
Name: count, dtype: int64

### Which three years in the 1930s saw the most films released?

In [29]:
titles_1930 = cast[(cast['year'] >= 1930) & (cast['year'] <= 1940)]
titles_1930.shape

(222504, 6)

In [22]:
film_counts = titles_1930['year'].value_counts()
top_3_years = film_counts.head(3)
top_3_years

year
1937    27462
1936    25755
1938    25206
Name: count, dtype: int64

### Count the number of films that have been released in each decade over the history of cinema.

In [32]:
cast['decade'] = (cast['year'] // 10) * 10

In [42]:
titles_per_decade = cast['decade'].value_counts()
sorted = titles_per_decade.sort_index()
sorted

decade
1890          3
1900         70
1910      42604
1920      71472
1930     199058
1940     211842
1950     211470
1960     187069
1970     215147
1980     283194
1990     381806
2000     746571
2010    1083959
2020        202
Name: count, dtype: int64

### Count the number of "Hamlet" films made in each decade.

In [43]:
hamlet = cast['title'].str.contains('Hamlet')

0          False
1          False
2          False
3          False
4          False
           ...
3634462    False
3634463    False
3634464    False
3634465    False
3634466    False
Name: title, Length: 3634467, dtype: bool

### Count the number of "Rustler" characters in each decade of the history of film.

### Count the number of "Hamlet" characters in each decade.

### What are the 11 most common character names in movie history?

### Who are the 10 people most often credited as "Herself" in film history?

### Who are the 10 people most often credited as "Himself" in film history?

### Which actors or actresses appeared in the most movies in the year 1945?

In [50]:
cast

,title,year,name,type,character,n,decade
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,NaN,2010
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0,1980
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0,2010
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN,2010
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN,2010
...,...,...,...,...,...,...,...
3634462,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0,1980
3634463,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0,2000
3634464,Skammdegi,1985,Dalla ??r?ard?ttir,actress,Hj?krunarkona,9.0,1980
3634465,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0,2000
3634466,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN,1990

In [51]:
titles

                                       title  year
0                             The Rising Son  1990
1                    The Thousand Plane Raid  1969
2                           Crucea de piatra  1993
3                                    Country  2000
4                                 Gaiking II  2011
...                                      ...   ...
232325                                 E yue  2005
232326                          Lakota Girls  2015
232327                        Kroniki domowe  1997
232328                  Awakening the Zodiac  2017
232329  Death in the Valley of Good and Evil  2018

[232330 rows x 2 columns]

### Which actors or actresses appeared in the most movies in the year 1985?

### How many roles "Mammootty" has played in each year of his career.

### What are the 10 most frequent roles that start with the phrase "Patron in"?

### What are the 10 most frequent roles that start with the word "Science"?

### Count number of n-values of the roles that Judi Dench has played over her career.

### Count number of n-values of Cary Grant's roles through his career.

### Count number of n-value of the roles that Sidney Poitier has acted over the years.

### How many leading (n=1) roles were available to actors, and how many to actresses, in the 1950s?

### How many supporting (n=2) roles were available to actors, and how many to actresses, in the 1950s?