In [6]:
import pandas as pd

df = pd.read_excel("test.xlsx", sheet_name = "months", engine = 'openpyxl')
df

        month  value
0     january     12
1    february     13
2       march     12
3       april      5
4         may     14
5        june      8
6        july     12
7      august     14
8   september     12
9     october     23
10   november     12
11   december      7

In [13]:
import pandas as pd
import requests
import lxml

In [14]:
url = 'https://www.worldcoinindex.com/'

crypto_url = requests.get(url)

In [15]:
body = crypto_url.text

In [16]:
crypto_data = pd.read_html(body)
print(type(crypto_data))
print(len(crypto_data))

<class 'list'>
1

In [17]:
crypto_data = crypto_data[0]
crypto_data.head()

,#,Unnamed: 1,Name,Ticker,Last price,%,24 high,24 low,Price Charts 7d,24 volume,# Coins,Market cap
0,1,NaN,Bitcoin,BTC,"$ 36,943",+0.96%,"$ 37,041","$ 36,416",NaN,$ 3.57B,19.47M,$ 719.59B
1,2,NaN,Ethereum,ETH,"$ 1,986.34",+1.11%,"$ 1,989.63","$ 1,946.22",NaN,$ 2.94B,122.37M,$ 243.07B
2,3,NaN,Solana,SOL,$ 60.85,+3.94%,$ 61.72,$ 56.73,NaN,$ 1.31B,261.90M,$ 15.93B
3,4,NaN,Ripple,XRP,$ 0.623091,+2.02%,$ 0.626052,$ 0.601877,NaN,$ 603.16M,53.71B,$ 33.47B
4,5,NaN,Usd coin,USDC,$ 1.00,0.00%,$ 1.00,$ 0.998507,NaN,$ 447.45M,7.00B,$ 7.00B

In [18]:
import requests
page = requests.get("https://dataquestio.github.io/web-scraping-pages/simple.html")
page

In [19]:
page.status_code

200

In [20]:
page.content

b'<!DOCTYPE html>\n<html>\n    <head>\n        <title>A simple example page</title>\n    </head>\n    <body>\n        <p>Here is some simple content for this page.</p>\n    </body>\n</html>'

In [21]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(page.content, 'html.parser')

In [41]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   A simple example page
  </title>
 </head>
 <body>
  <p>
   Here is some simple content for this page.
  </p>
 </body>
</html>

In [42]:
print(soup)

<!DOCTYPE html>

<html>
<head>
<title>A simple example page</title>
</head>
<body>
<p>Here is some simple content for this page.</p>
</body>
</html>

In [24]:
list(soup.children)

['html',
 '\n',
 <html>
 <head>
 <title>A simple example page</title>
 </head>
 <body>
 <p>Here is some simple content for this page.</p>
 </body>
 </html>]

In [38]:
[type(item) for item in list(soup.children)]

[bs4.element.Doctype, bs4.element.NavigableString, bs4.element.Tag]

In [29]:
html = list(soup.children)[2]

In [30]:
list(html.children)

['\n',
 <head>
 <title>A simple example page</title>
 </head>,
 '\n',
 <body>
 <p>Here is some simple content for this page.</p>
 </body>,
 '\n']

In [32]:
body = list(html.children)[3]

In [33]:
list(body.children)

['\n', <p>Here is some simple content for this page.</p>, '\n']

In [34]:
p = list(body.children)[1]

In [35]:
p

In [36]:
p.get_text()

'Here is some simple content for this page.'

In [40]:
soup = BeautifulSoup(page.content, 'html.parser')
soup.find_all('p')

In [44]:
soup.find_all('p')[0].get_text()

'Here is some simple content for this page.'

In [50]:
page = requests.get("https://dataquestio.github.io/web-scraping-pages/ids_and_classes.html")
soup = BeautifulSoup(page.content, 'html.parser')
print(soup.prettify())

<html>
 <head>
  <title>
   A simple example page
  </title>
 </head>
 <body>
  <div>
   <p class="inner-text first-item" id="first">
    First paragraph.
   </p>
   <p class="inner-text">
    Second paragraph.
   </p>
  </div>
  <p class="outer-text first-item" id="second">
   <b>
    First outer paragraph.
   </b>
  </p>
  <p class="outer-text">
   <b>
    Second outer paragraph.
   </b>
  </p>
 </body>
</html>

In [51]:
soup.find_all('p', class_='outer-text')

[<p class="outer-text first-item" id="second">
 <b>
                 First outer paragraph.
             </b>
 </p>,
 <p class="outer-text">
 <b>
                 Second outer paragraph.
             </b>
 </p>]

In [52]:
soup.find_all(id="first")

[<p class="inner-text first-item" id="first">
                 First paragraph.
             </p>]

In [53]:
soup.select("div p")

[<p class="inner-text first-item" id="first">
                 First paragraph.
             </p>,
 <p class="inner-text">
                 Second paragraph.
             </p>]