In [4]:
from datetime import datetime

datetime_object = datetime.now()
print(datetime_object)
print('Type: -', type(datetime_object))

2023-11-08 18:53:06.673332
Type: - <class 'datetime.datetime'>

In [18]:
my_string = "1989-09-02"

my_date = datetime.strptime(my_string, "%Y-%m-%d")

print(my_date)
print("Type: -", type(my_date))

1989-09-02 00:00:00
Type: - <class 'datetime.datetime'>

In [19]:
print('Month:', my_date.month)
print('Year:', my_date.year)

Month: 9
Year: 1989

In [26]:
import calendar

my_date = datetime.strptime('1989-09-02', '%Y-%m-%d')

print('Day of Month:', my_date.day)

print('Day of Week (number):', my_date.weekday())

print('Day of week (name):', calendar.day_name[my_date.weekday()])

Day of Month: 2
Day of Week (number): 5
Day of week (name): Saturday

In [27]:
j = 0
for i in calendar.day_name:
    print(j,'-',i)
    j+=1

0 - Monday
1 - Tuesday
2 - Wednesday
3 - Thursday
4 - Friday
5 - Saturday
6 - Sunday

In [29]:
todays_date = datetime.now()
todays_date.isocalendar()

datetime.IsoCalendarDate(year=2023, week=45, weekday=3)

In [32]:
todays_date.isocalendar()[1]

45

In [33]:
from datetime import datetime

now = datetime.now()

timestamp = datetime.timestamp(now)

In [34]:
print("Date and Time:", now)
print("Timestamp:", timestamp)

Date and Time: 2023-11-08 19:14:29.456615
Timestamp: 1699488869.456615

In [35]:
timestamp = 1699488869.456615

dt_object = datetime.fromtimestamp(timestamp)

print("dt_object:", dt_object)
print("type(dt_object):", type(dt_object))

dt_object: 2023-11-08 19:14:29.456615
type(dt_object): <class 'datetime.datetime'>

In [36]:
from datetime import timedelta

d= timedelta(weeks=2)

In [37]:
print(d)
print(type(d))
print(d.days)

14 days, 0:00:00
<class 'datetime.timedelta'>
14

In [38]:
year = timedelta(days=365)
print(year)

365 days, 0:00:00

In [44]:
from datetime import datetime

#Get current time
now = datetime.now()
print("Today's date:", str(now))

#add 15 days to the current date
future_date_after_15days = now + timedelta(days=15)
print("Date after 15 days:", future_date_after_15days)

#substract 2 weeks from the current date
two_weeks_ago = now - timedelta(weeks=2)
print("Date from two weeks ago:", two_weeks_ago)

Today's date: 2023-11-08 19:33:16.195273
Date after 15 days: 2023-11-23 19:33:16.195273
Date from two weeks ago: 2023-10-25 19:33:16.195273

In [45]:
from datetime import date

#create two dates
date1 = date(2008, 8, 18)
date2 = date(2008, 12, 23)

#difference between the two dates
delta = date2 - date1
print("Difference:", delta.days)

Difference: 127

In [46]:
# import datetime
from datetime import datetime
# create two dates with year, month, day, hour, minute, and second
date1 = datetime(2017, 6, 21, 18, 25, 30)
date2 = datetime(2017, 5, 16, 8, 21, 10)

# Difference between two dates
diff = date1-date2
print("Difference: ", diff)

Difference:  36 days, 10:04:20

In [47]:
# import datetime
from datetime import datetime
date_string = "1 August, 2019"

# format date
date_object = datetime.strptime(date_string, "%d %B, %Y")

print("date_object: ", date_object)

date_object:  2019-08-01 00:00:00

In [52]:
# import timezone from pytz module
from pytz import timezone
# Create timezone US/Eastern
east = timezone('US/Eastern')
# Localize date
loc_dt = east.localize(datetime(2011, 11, 2, 7, 27, 0))
print(loc_dt)

# Convert localized date into Asia/Kolkata timezone
kolkata = timezone("Asia/Kolkata")
print(loc_dt.astimezone(kolkata))

# Convert localized date into Australia/Sydney timezone
au_tz = timezone('Australia/Sydney')
print(loc_dt.astimezone(au_tz))

2011-11-02 07:27:00-04:00
2011-11-02 16:57:00+05:30
2011-11-02 22:27:00+11:00

In [56]:
import pandas as pd

date = pd.to_datetime("2nd of Sep, 1989, 8:30am")
print(date)

1989-09-02 08:30:00

In [62]:
# Create date series using numpy and to_timedelta() function
date_series = date + pd.to_timedelta(np.arange(12), 'D')
print(date_series)

# Create date series using date_range() function
date_series = pd.date_range('08/10/2019', periods = 12, freq ='D')
print(date_series)

NameError: name 'np' is not defined

In [63]:
#Get current datetime

import datetime

now = datetime.datetime.now()

print(now)

2023-11-08 19:58:51.269841

In [66]:
# Get current date

import datetime

today = datetime.date.today()

print(today)

2023-11-09

In [67]:
#get attributes from module

import datetime

print(dir(datetime))

['MAXYEAR', 'MINYEAR', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

In [69]:
import datetime

date = datetime.date(1980, 9, 2)

print(date)

1980-09-02

In [70]:
from datetime import date

today = date.today()

print(today)

2023-11-09

In [74]:
from datetime import date

today = date.today()

print('Current Year:', today.year)
print('Current Month:', today.month)
print('Current day:', today.day)

Current Year: 2023
Current Month: 11
Current day: 9

In [76]:
from datetime import time

a = time()
print(a)

b = time(5, 19, 30)
print(b)

c = time(hour = 10, minute = 34, second = 56)
print(c)

00:00:00
05:19:30
10:34:56

In [78]:
from datetime import datetime

a = datetime(2023, 11, 9, 17, 21, 30)

print(a)

2023-11-09 17:21:30